{{ define "main" }}
<main>
    <header>
        <h1>{{ strings.TrimRight "s" .Title}}</h1>
    </header>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}

    {{ range .Pages }}
    <article class="blog-post">
        <h3><a href="{{.Permalink}}" style="color: inherit;">{{.Title}}</a></h3>
        <p class="blog-post-meta"><a href='{{with .Site.GetPage "section" .Section}}{{.Permalink}}{{end}}'>{{ partial "sectioname.html" . }}</a> - {{ dateFormat "January 2, 2006" .Date }} by <a href="/contributors/#Christopher">Christopher</a></p>
        {{ .Summary }}
    </article>
    {{ end }}
</main>
{{ end }}