{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{ partial "sectioname.html" . }} {{ .Title}}</h1>
            <small class="text-muted">{{ dateFormat "January 2, 2006" .PublishDate }} | {{ .ReadingTime }} minutes to read</small>
        </header>
        <hr />
        {{.Content}}

        {{ $related := .Site.RegularPages.Related . | first 5 }}
        {{ with $related }}
        <footer>
            <header>
                <h3>Related</h3>
            </header>
            
            <ul>
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </footer>
        {{ end }}
    </article>
</main>
{{ end }}